# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
**/coverage
test-results
playwright-report

# production
**/build
**/dist
**/*.db
**/*.db-journal

# misc
.DS_Store
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/*.log

# playwright
playwright/.cache

# tauri
**/src-tauri/target
